<div class="production produção-list-item">
    <div class="producao-cover">
        <img src="https://placehold.co/1280x720/EEE/31343C" alt="temporario">
    </div>
    <div class="production-title-container">
        <h2 class="production-title">Produto em aberto</h2>
    </div>

    <div class="production-data">
        <span class="data-hora">
            <i class="fas fa-calendar-alt"></i>
            28/09/2023 às 15:40
        </span>
    </div>
    <footer class="production-footer">
        <a class="production-read-more button button-dark button-full-width" href="/production/3/">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>

</div>
<div class="production produção-list-item">
    <div class="producao-cover">
        <img src="https://placehold.co/1280x720/EEE/31343C" alt="temporario">
    </div>
    <div class="production-title-container">
        <h2 class="production-title">Produzindo</h2>
    </div>

    <div class="production-data">
        <span class="data-hora">
            <i class="fas fa-calendar-alt"></i>
            28/09/2023 às 15:40
        </span>
    </div>
    <footer class="production-footer">
        <a class="production-read-more button button-dark button-full-width" href="/production/3/">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>

</div>

<div class="production produção-list-item">
    <div class="producao-cover">
        <img src="https://placehold.co/1280x720/EEE/31343C" alt="temporario">
    </div>
    <div class="production-title-container">
        <h2 class="production-title">concluido</h2>
    </div>

    <div class="production-data">
        <span class="data-hora">
            <i class="fas fa-calendar-alt"></i>
            28/09/2023 às 15:40
        </span>
    </div>
    <footer class="production-footer">
        <a class="production-read-more button button-dark button-full-width" href="/production/3/">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>

</div>
</div>
</main>

</body>


</html>